# Xcode
.DS_Store
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.swp
*.tmp

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods / Carthage (falls genutzt)
Pods/
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets (falls vorhanden)
*.env
*.zip
